.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.artwork-list{
  display: flex;
  align-items: center;
  /* align-items: flex-start; */
  flex-wrap: wrap
}

.artwork-details p,
.artwork-details h2,
.artwork-details a,
.artwork-details img{
  min-width: 300px;
  font-size:large;
}

.artwork-details,
.artwork-image{
  position: relative;
  padding: 0.5%;
}

.artwork-details img{
  opacity: 40%;
}

.text {
  position: absolute;
  top: 0px;
  left: 16px;
  right: 16px;
}

.artwork-image img{
  float: left;
  min-width: 300px;
  object-fit: cover;
} 

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 2%;
}

h1 {
  padding-left: 2%;
}

.artwork-list {
  padding: 1.5%;
}

.form-search{
  display: flex;
  
}

.form-search input {
  max-width: 20%;
}

.form-select {
  display: flex;
  flex-direction: column;
}

form select {
  width: 
  25%;
}